@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1600px;
    margin: 50px auto;
}

/* header banner section  */

.banner {
    background-image: url('resources/Banner-Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background-position: center;
}

.banner-inner {

    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.banner h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    max-width: 632px;
}

.inner-box {
    padding: 177px 344px;
    text-align: center;
}

.banner h4 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

/* discount section  */
.discount {
    text-align: center;
}

.discount h1 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount p {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount h3 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* midnight party section */

.party {
    background-image: url('resources/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.party-content {
    padding: 50px 126px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.party-box h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    max-width: 642px;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.party-box p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 697px;
    margin-bottom: 48px;
}

.party-image {
    max-width: 400px;
}

.party-image img {
    width: 100%;
}

.btn-black {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    margin-left: 32px;
    cursor: pointer;
}

/* event time section  */

.event-time {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;

    padding: 100px 0px;
}

.event-time h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.important {
    color: #F00;

}

.btn-red {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    background: #F00;
    margin-top: 48PX;
}