@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    max-width: 1266px;
    margin: 50px auto;
}

/* header banner section  */

.banner {
    background-image: url('resources/Banner-Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    background-position: center;
    height: 600px;
}

.banner-inner {

    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.banner h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    max-width: 632px;
}

.inner-box {
    padding: 177px 344px;
    text-align: center;
}

.banner h4 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

/* discount section  */
.discount {
    text-align: center;
}

.discount h1 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount p {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount h3 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* midnight party section */

.party {
    background-image: url('resources/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.party-content {
    padding: 50px 126px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.party-box h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    max-width: 642px;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.party-box p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 697px;
    margin-bottom: 48px;
}

.party-image {
    max-width: 400px;
}

.party-image img {
    width: 100%;
}

.btn-black {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    margin-left: 32px;
    cursor: pointer;
}

/* event time section  */

.event-time {
    margin-top: 100px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;

    padding: 100px 0px;
}

.event-time h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.important {
    color: #F00;

}

.btn-red {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    background: #F00;
    margin-top: 48PX;
}

/* best offer section  */
.offers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offer-box-image {
    max-width: 300px;
    border: 15px solid #F00;
    border-radius: 50%;
    padding: 30px;
}

.offer-box-image img {
    width: 100%;
}

.offer-box-header p {
    max-width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.offer-box-header h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.offer-box-header h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.offer-box-footer p {
    max-width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 43px;
}

.offer-box-footer h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

/* Holiday sales 50% section  */

.holiday-sale {
    text-align: center;
    margin-top: 100px;
}

.holiday-sale h5 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.holiday-sale h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

.holiday-sale p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 auto;
    max-width: 1068px;
    margin-bottom: 64px;
}

.images-box {
    background-image: url('resources/Group-75.png'), url('resources/Rectangle-2.png'), url('resources/Rectangle-1.png');
    background-repeat: no-repeat;
    background-position: left, bottom right, top right;
    height: 662px;
    margin: 0 auto;
    position: relative;

}

.inner-images-box {
    max-width: 300px;
    position: absolute;
    right: 288px;
    top:75px;
}

/* portfolio section  */

.portfolio h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.portfolio h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.portfolio p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 896px;
    margin-bottom: 48px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 auto;
}

.gallery-image {
    max-width: 30%;
    border-radius: 16px;
    margin: 0 auto;
}

.gallery-image img {
    width: 100%;
}

/* newsletter section  */

.newsletter {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 212px;
    text-align: center;
}

.newsletter p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 896px;
    margin-bottom: 48px;
}

.newsletter h2 {
    margin-top: 40px;
    margin-bottom: 22px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.input-flex {
    display: flex;

}

.input-flex input {
    flex-grow: 1;
    border: none;
    outline: none;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 25px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
}

.btn-red-cornered {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    padding: 24px 56px;
}

footer {
    padding: 120px 0;
    background: #070211;
    color: #FFF;
    

}
.container-footer{
    width: 85%;
    max-width: 1266px;
    margin: 0 auto;
}

.first-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

footer p {
    max-width: 375px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    
}
hr{
    margin: 50px 0;
    background-color: rgba(255, 255, 255, 0.15);
    height: 1px;
    border: none;
}
.second-content .icons{
 display: flex;
 gap: 24px;
 justify-content: center;

}

.third-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
a{
    text-decoration: none;
    color: #fff;
}

button{
    cursor: pointer;
}

.first-content .right p img{
   max-width: 29px;
   margin-bottom: -4px;
}
.first-content .right p{
    margin-right: 100px;
}